html {
  font-family: monospace;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #FFC0CB;
}
*, *:before, *:after {
box-sizing: border-box;
}
p{
  font-family: Courier;
  font-size: 13px;
}
h1 {
  font-family: "Island Moments";
}
h2 {
  font-family: 'Heavy Rain', "Press Start 2P", "Rye";
}
.myp{
font-family: Times;
font-size: 24px;
font-weight: bold;
}

#req{
  font-family: Courier;
  font-size: 17px;
  font-weight: bold;
}

@font-face {
  font-family: "Canterbury";
  src:url(font/Canterbury.ttf);
}
@font-face {
  font-family: "Heavyrain";
  src:url(font/Heavyrain.ttf);
}

@font-face {
  font-family: "Barcode";
  src:url(font/Barcode39.ttf);
}
/* Trang Chủ*/

header * {
    color: black;
    display: inline;
}
/* .header-nav {
    font-size: 18px;
    float: right;
} */
  .header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    float: right;
  }
  
  .header-nav-list {
    display: flex;
    list-style-type: none;
    margin: 2px;
    padding: 0;
  }
  
  .header-nav-list a {
    display: block;
    padding: 10px 15px;
  }
    .icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
	  color: #64d181;
    display: none;
    position: absolute;
    background-color: #000000;
left: -45px;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
.dropdown-content li{color: #64d181;}
	  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#product-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}
#til1{
  float: right;
}
a {
  text-decoration: none;
}
nav a:hover {
  color: #8B0000;
  text-decoration: underline #DAA520 wavy;
}
.data-container button{
	  margin: 6px;
	background: 'black';
color:'white';
}

#dialog-link span{
  margin: 0;
  position: absolute;
  left: 4px;
  top: 50%;
	margin-top: -8px;}

#dia {
  padding: 4px;
  text-decoration: none;
  position: relative;
}
#dia span {
  margin: 0;
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -8px;
}
.footer-nav {
  display: flex;
  flex-direction: row;
}
.aboutme{
justify-content: center;
align=items: center;
}

.about-slide {
  display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 6px;
}
.about-slide h2{
  text-align: center;

}
#lvideo{
  border: 4px dotted black;
}
.about-slide-vid {
  float: right;
}

.container{
  display: flex;
justify-content: center;
align-items: center;
}

.btnn {
font-weight:bold;
  width: 120px;
	float:center;
  height: 45px;
  background: #F4A63A;
  border: 0px;
  box-shadow: 
    inset -2px 2px 1px 1px #FFD989,
    inset -2px -2px 1px 1px #9E4D20,
    inset 2px 0px 1px 1px #F28133
}
.btnn:active {
  top: 2px;
}
/* .btnn::after {
  content: '';
   background: #000;
  position: absolute;
  left: -2%;
  top: 0;
  width: 104%;
  height: 100%;
  z-index: -1
}

.btnn::before {
  content: '';
   background: #000;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  width: 20%;
  height: 30%;
  z-index: -2
} */

.ml7 {
	position: relative;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
}
.product-card{
  width: 400px;
  height: 600px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.default-img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.product-card:hover .default-img {
  display: none;
}
.product-name {
  display: none;
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.product-card:hover .hover-img {
  display: block;
}
.product-card:hover .product-name{
  display: block;
}
.product-price {
  text-align: center;
  margin-top: 5px;
  font-style: italic;
}

.product-card img {
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
}

.product-card .default-img {
  z-index: 1;
}

.product-card .hover-img {
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.product-card:hover .hover-img {
  opacity: 1;
}

/* Nút gửi */
form button {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form button {
    --c: black;
    color: var(--c);
    font-size: 12px;
    border: 0.2em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

form button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

form button:hover {
    color: #FFC0CB;
}

form button:hover span {
    transform: translateY(0) scale(2);
}

form button span:nth-child(1) {
    --n: 1;
}

form button span:nth-child(2) {
    --n: 2;
}

form button span:nth-child(3) {
    --n: 3;
}

form button span:nth-child(4) {
    --n: 4;
}

.btn-slide { 
    position: relative;
    display: inline-block; 
    height: 31px;
    width: 200px;
    line-height: 40px;
    margin: 3px 0;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
    background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
        }

.btn-slide:active { 
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0,0.7);
    -webkit-transform: scale(0.98);
    transform: scale(0.96); }
    
.btn-slide:hover { 
    background: linear-gradient(-135deg, #e570e7 0%,#79f1fc 100%); }
        
.btn-slide span.circle { 
    display: block;
    background-color: #fff;
    color: #e570e7;
    position: absolute;
    margin-left: 6px;
    margin-top: 2px;
    height: 26px; 
    width: 30px;
    top: 0; left: 0;
    border-radius: 40%;
    transition: all 1.5s ease;
 }
        
.btn-slide:hover span.circle { 
    left: 100%;
    margin-left: -35px;
    background-color: rgb(7, 2, 2);
    color: #faad1f; }
        
.btn-slide span.title { 
    position: absolute;
    left: 66px;
    margin-top: -4px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Courier";
/*     color: rgb(7, 4, 4); */
    color: 'grey';
    transition: all 1.5s linear; 
 }
        
.btn-slide span.title-hover { opacity: 0;}
.btn-slide:hover span.title { opacity: 0; }
.btn-slide:hover span.title-hover { opacity: 1; left: 30px; }

/* NÚT ZODIACUS T SLIDE */
.btn-slidezt { 
  position: relative;
  display: inline-block; 
  height: 35px;
  width: 204px;
  line-height: 40px;
  margin: 3px 0;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
  background: linear-gradient(135deg, #030203 0%,#d19d0f 100%);
      }

.btn-slidezt:active { 
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0,0.7);
  -webkit-transform: scale(0.98);
  transform: scale(0.96); }
  
.btn-slidezt:hover { 
  background: linear-gradient(-135deg, #680808 0%,#060808 100%); }
      
.btn-slidezt span.circle { 
  display: block;
  background-color: #fff;
  color: #000000;
  position: absolute;
  margin-left: 6px;
  margin-top: 2px;
  height: 26px; 
  width: 30px;
  top: 0; left: 0;
  border-radius: 40%;
  transition: all 1.5s ease;
}
      
.btn-slidezt:hover span.circle { 
  left: 100%;
  margin-left: -35px;
  background-color: rgb(7, 2, 2);
  color: #faad1f; }
      
.btn-slidezt span.title { 
  position: absolute;
  left: 66px;
  margin-top: -4px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier";
  color: rgb(245, 150, 213);
  transition: all 1.5s linear; 
}
      
.btn-slidezt span.title-hover { opacity: 0;}
.btn-slidezt:hover span.title { opacity: 0; }
.btn-slidezt:hover span.title-hover { opacity: 1; left: 30px; }   
/* NÚT 2 */
.button-container {
  position: relative;
  display: inline-block; 
  margin-top: 0px;
  margin-left: 20px;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
}

.button-container button {
  width: 101%;
  height: 100%;
  font-family: "Courier";
  font-size: 17px;
  background: rgb(3, 2, 2);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
}
/*  */
.button-container2 {
  position: relative;
  display: inline-block; 
  margin-top: 0px;
  margin-left: 20px;
  width: 182px;
  height: 35px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
}

.button-container2 button {
  width: 101%;
  height: 100%;
  font-family: "Courier";
  font-size: 17px;
  background: rgb(3, 2, 2);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
}

.button-container2 button:hover {
  animation: anim1 0.7s steps(22) forwards;
}
/*  */
.mask {
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 101%;
  font-family: "Courier";
  font-weight: lighter;
  font-size: 17px;
  margin-top: 4px;
  overflow: hidden;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
div #veris{
  font-family:'Courier';
  font-size: 12px;
}
#veri+#veris2{
  font-family:'Courier';
  font-size: 16px;
  font-weight: bold;
}
/* CHỮ CHẠY NGANG */
.loop-holder {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.loop-holder__text {
    animation: textLoop 34s linear infinite;
    font-size: 24px;
    margin-top: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: .35em;
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}
/* Hiệu ứng code chữ */
:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 7s;
  --typewriterCharacters: 24;
}
/* FAQ */
.faq{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 4px;
}
.cauhoi h4{
  display:block;
  margin: 4px;
}
.traloi{
  border: 4px dotted black;
  padding: 4px;
  height: 460px;
  overflow: scroll;
}

.contact-title {
  font-size: clamp(14px, 20px, 20px);
  width: max-content;
  position: relative;
  text-align: center;
}

.contact-title::before,
.contact-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact-title::before {
  background-color: #FFC0CB;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.contact-title::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* SAO NỀN */

/*  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Đáp ứng Mã Cho Điện thoại */ 
@media screen and (max-width:750px){
ul .header-nav {
	display: none;
      font-size: 14px;
	font-weight:bold;
/*       float:right; */
	width:100%;
      position:relative;
	z-index:100;
      }
h1 {
  font-size: 36px;
}
 .contact-title h2 {
  font-size: 1px;
}
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
  }
/*  */
  footer * {
    display: block;
  align-items: center;
  text-align: center;
    color: black;
    margin-top: 8px;
    margin-left:0px;
  }
.about-slide {
  display: flex;
 flex-direction: column;
	margin-top:6px;
justify-content: center;
	width:100%;
}
	#latestvideo{
  width: 100%;
  height: 100%;
}	
.footer-nav {
	  display: block;
	  float: center;
	}
	
  .footer-nav ul{
	position: relative;
	align-items: center;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;  }

.footer-nav li{
	margin: 10px;}

  .contact-title{
    position: relative;
    padding-top:8px;
  }
    p{
    font-family: Courier;
    font-size: 14px;
  }
#dialog-link {
    font-size: 16px;
}
  .loop-holder{
display: flex;
margin-top: 224px;
  }

  #gach{
    position:relative;
  }
	
  .faq-title{
    font-style: 100px;
    font-weight: bold;
  }
  li{
    font-size:13px;
    padding-top:6px;
  }
/* video	 */
	.about-slide-vid{
margin-top: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
	}
	
  .about-slide-vid iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  }
	    .icon {
display: block;
position:relative;
    }
    .header-nav-list {
      display: none;
	  position: relative;
	 width:100%;
    }
	.icon-close{
     display: block;
			  position: relative;
  }
  .button-container{
    display: block;
    position: center;
    margin-top: 0px;
    margin-left:84px;
    width: 220px;
    height: 34px;
  }
  .button-container2{
    display: block;
    position: center;
    margin-top: 0px;
    margin-left:84px;
    width: 220px;
    height: 36px;
  }
  .mask {
    margin-top: 7px;}
	
  .btn-slide { 
    display: block;
    position: center;
    margin-left: 84px;
    margin-bottom: 10px;
    height: 34px;
    width: 220px;
    line-height: 40px;
        }
  .btn-slidezt { 
    display: block;
	  align: center;
    position: center;
    margin-left: 84px;
    margin-bottom: 10px;
    height: 36px;
    width: 220px;
    line-height: 40px;
        }
#product-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
  }
.product-card{
  width: 100%;
  height: 600px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}

  #back-to-top-btn {
    display: block;
    position: fixed;
	z-index:100;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }

  #back-to-top-btn i {
    font-size: 18px;
  }
}

/*  */
@media screen and (min-width:820px){
  .about {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 10px;
  }
  .about2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
  }

.icon-close a{
display: none;
font-size: 24px;
    cursor: pointer;
  }
  iframe{
    height:480px;
  }
  p{
    font-family: Courier;
    font-size: 18px;
  }
  /* 2 NÚT MYUNIVER */
#wrap {
  display: inline; 
  text-align: center; 
  z-index: 10;
  }
	#latestvideo{
		margin:6px;
width: 770px;
}
	#back-to-top-btn {
  display: none;
}
  footer * {
    display: inline;
    color: black;
    margin: 2px;
    margin-top: 8px;
  }
  .footer-nav {
    font-size: 13px;
    font-weight: bold;
    float: right;
  }

